{% include "header.html" %}
  <section id="container"> 
    <div class="categories">
      <h2>Categories</h2>
      <ul>
        {% for i in categories %}
        <li>
          <a href = "{{url_for('showCategories', categories_id = i.id)}}"
            style="color:black">{{i.name}}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="items">
      <h2>Recently Added</h2>
      <p><a href = "{{url_for('newItem')}}" style="color:red">Add New Book Item</a></p>
      <ul>
        {% for i in items %}
        <li>
          <a href = "{{url_for('showItem',categories_id=i.categories_id, items_id=i.id)}}
            "style="color:black">{{i.name}} - {{i.categories.name}}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </section>
<footer>
<br>
  <p><span>Developed by Muneera &copy; 2018</span></p>
</footer>
</div>
</body>
</html>
